h1 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
  margin: 20px 0;
}
.plz_wait_now{
  color:black;
}

.game_div {
  display: flex;
  width: 80vw;
  height: 200px;
  margin: 40px auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.team_red_div, .team_blue_div {
  width: 200px;
  height: 100px;
  text-align:center;
  display:inline;
  font-size: 1.2em;
  padding: 25px;
  background-color: #FFC300;
  border-radius: 12px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 6px 0 #ff9900, 0 8px 10px rgba(0, 0, 0, 0.2);
}

.team_red_div {
  color: red;
}

.team_blue_div {
  color: blue;
}

.game_button {
  display: block;
  margin: 30px auto;
  font-size: 1.2em;
  padding: 15px 30px;
  background-color: #FFC300;
  color: #ff6600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 6px 0 #ff9900, 0 8px 10px rgba(0, 0, 0, 0.2);
}

.game_button:hover {
  background-color: #FFD700;
  transform: translateY(2px);
  box-shadow: 0 4px 0 #ff9900, 0 6px 8px rgba(0, 0, 0, 0.2);
}

.game_button:active {
  transform: translateY(6px);
  box-shadow: none;
}

.plz_wait_now {
  text-align: center;
  color: #ff6600;
  text-shadow: 2px 2px 0px #FFC300;
}